@import "../third_parties/bootstrap-4.2.1/css/bootstrap.css";
@import "common.css";

.fullscreen-wrapper {
  height: 100%;
  width: 100%;
  display: block;
  position: fixed;
}

.vertical-navbar{
  height: 100%;
  width: 200px;
  /* width: 16%;
  max-width: 200px;
  min-width: 150px; */
  display: block;
  position: fixed;
  float: left;
  background-color: rgb(32, 32, 32);
}


.content-container{
  height: 100%;
  width: 100%;
  display: block;
  position: fixed;
  float: right;
  left: 200px;
  background-color: rgb(64, 64, 64);
}

/* #circle {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: red;
} */

.vflex-item{
  padding: 3%;
  color: white;
}

.profile-image{
  width: 50px;
  height: 50px;
}
